Any pip-installable libraries that are needed to run this project:
pip install pandas
pip install numpy
pip install matplotlib
pip install folium
pip install tabulate

Other files that you need from this repository:
worldcities.csv [https://www.kaggle.com/datasets/aziz69/worldcities]